.sub-title {
  font-size: 24px;
}

.input {
  width: 100%;
  display: flex;
  padding: 12px 0px;

  &-message {
    flex: 4;
    border: 1px solid #d97d97;
  }
  &-btn {
    flex: 1;
    background-color: #d97d97;
    border: transparent;
  }
  &-image {
    display: none;

    &-label {
      background-color: #d57bf0;
      text-align: center;
      padding-top: 5px;
    }
  }
}

.invite-btn {
  float: right;
  background: #f1ed63;
  padding: 4px 8px;
  border: transparent;
  border-radius: 8px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
